# Generic python dependencies
pip==26.2.1
pre-commit==4.6.2
ruff==0.16.4
ty==0.0.75

# Home Assistant testing dependencies
pytest-homeassistant-custom-component==0.13.358
syrupy>=4.6.1

# Component dependencies
hassil>=3.2.0
home-assistant-intents>=2025.9.24
supernote[client]==0.20.0
